<div class="tabs redsun-tabs">
  <ul>
    <li>
      <% count_all = @search.facet(:class_name).rows.map(&:count).sum %>
      <% if count_all > 0 %>
        <%= link_to t("redsun.facet.reset_object_facet", count: number_with_delimiter(count_all)), 
                    url_for(search_form: {:class_name => ""}.reverse_merge(@search_params) ),
                    class: @search_params[:class_name].blank? ? "selected" : "" %>
      <% end %>
    </li>
    <% results.facet(:class_name).rows.each do |result| %>
      <% if result.count > 0 || facet.in?(@search_params[:class_name]) %>
        <li>
          <% if @project.present?
            url =  redsun_project_search_path(@project, search_form: { class_name: [result.value] }.reverse_merge(@search_params))
          else
            url =  url_for(search_form: { class_name: [result.value]}.reverse_merge(@search_params))
          end %>
            <%= link_to "#{t('redsun.facets.values.' + result.value.to_s.downcase.tr(" ", "_"), default: result.value)} (#{number_with_delimiter(result.count, delimiter: '.')})",
           url, class: result.value.in?(@search_params[:class_name]) ? 'selected' : ''
            %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
