<% if results.facet(facet).present? && results.facet(facet).rows && results.facet(facet).rows.count >= 1 %>
  <div class="tabs">
    <ul>
      <li>
        <%= link_to t("redsun.facet.reset_object_facet"), 
                    url_for(search_form: {facet.to_sym => ""}.reverse_merge(params[:search_form]) ),
                    class: params[:search_form][facet.to_sym].blank? ? "selected" : "" %>
      </li>
      <% results.facet(facet.to_sym).rows.each do |result| %>
        <li>
          <% if @project.present?
            url =  redsun_project_search_path(@project, search_form: { class_name: [result.value] }.reverse_merge(params[:search_form]))
          else
            url =  url_for(search_form: { class_name: [result.value]}.reverse_merge(params[:search_form]))
          end %>
            <%= link_to "#{t('redsun.facets.values.' + result.value.to_s.downcase.tr(" ", "_"), default: result.value)} (#{number_with_delimiter(result.count, delimiter: '.')})",
           url, class: result.value.in?(params[:search_form][:class_name]) ? 'selected' : ''
            %>
        </li>
      <% end -%>

    </ul>
  </div>
<% end -%>
