<% if results.facet(facet).present? && results.facet(facet).rows && results.facet(facet).rows.count > 1 || params[:search_form][facet].present? %>
  <h3><%=t "redsun.facet.#{facet.to_sym}"%></h3>

  <ul class="facets">
  <% results.facet(facet.to_sym).rows.each do |result| %>
    <li>
      <% if (attribute.present? && result.instance.present?) %>
          <% label = result.instance.send(attribute.to_sym) %>
          <%= link_to((label.present? ? label : "unknown" ) + " (#{result.count})",
          url_for(:search_form => {facet.to_sym => result.value}.reverse_merge(params[:search_form])))
          %>

      <% else %>
        <%= link_to "#{t('redsun.facets.values.'+result.value.to_s.downcase.tr(" ", "_"), :default => result.value)} (#{result.count})",
        url_for(:search_form => {facet.to_sym => result.value}.reverse_merge(params[:search_form]))
        %>
      <% end %>

      <%= link_to t("redsun.facet.remove"),
      url_for(:search_form => { facet.to_sym => "" }.reverse_merge(params[:search_form])),
      :class => "remove" if params[:search_form][facet].present? %>
    </li>
    <% end -%>
  </ul>
<% end -%>